.header-bg {
  background-color: #1976d2;
}

.nav-item a,
.navbar span,
.btn-outline-primary {
  color: white;
}

.navbar {
  & img {
    margin: 0 4px;
    width: 40px;
  }

  & span {
    font-weight: 500;
    font-size: 16px;
  }
}

.nav-item {
  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover {
    background-color: lighten(blue, 20%);
    border-radius: 8px;
  }
  a {
    font-size: 14px;
    text-transform: uppercase;
    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }
}

.btn-outline-primary {
  font-weight: 600;
  border: 1px solid white;
}

button:disabled {
  cursor: not-allowed;
}

.align {
  position: absolute;
  right: 5px;
}

.nav-link.active {
  background-color: lighten(blue, 20%);
  border-radius: 8px;
  border: 1px solid white;
  color: white !important;
}
