<div class="container mt-5 text-center text-capitalize">
  <div class="row" *ngIf="!registerMode">
    <div class="col-12">
      <h2 class="mb-3">Find people</h2>
      <h4 class="mb-3">All you need is to sign up</h4>
      <div class="mt-4">
        <a class="btn btn-outline-danger mr-3" (click)="enableRegisterMode()" [routerLink]="['register']">Sign Up</a>
        <a class="btn btn-outline-info" (click)="enableTerms()" [routerLink]="['terms']">Learn More</a>
      </div>
    </div>
  </div>

  <div class="mt-5"></div>

  <div class="row justify-content-center" *ngIf="registerMode">
    <div class="col-4">
      <app-register (backToHome)="disableRegisterMode($event)"></app-register>
    </div>
  </div>
</div>
